.home-page {
    .home-page-header {
        .home-background-image {
            width: 100vw;
        }
    }
}
@media (max-width: 900px) {
    .home-page {
        .home-page-header {
            position: relative;
            overflow: hidden;
            .home-background-image {
                margin-left: 50%;
                transform: translateX(-50%);
                width: auto;
                height: 100vh;
            }
        }
    }
}
