@import "utils/mixins.scss";
@import "utils/colors.scss";

.layout {
  max-width: 100vw;
  overflow-x: hidden;
  .MuiAppBar-colorPrimary {
    background-color: $black;
  }
  .primary-appbar {
    background-color: $primary-color;
  }
  .appbar {
    transition: 0.2s;
    .toolbar {
      justify-content: space-between;
      flex-direction: row;
      .MuiListItem-padding {
        padding: 0;
      }
      .navigation-list {
        @include horizontal-list;
        .navigation-item {
          :hover {
            color: $primary-color;
            background-color: transparent;
          }
        }
        span {
          white-space: nowrap;
          font-weight: 600;
        }
      }
      .right-menu {
        .lang-list {
          @include horizontal-list;
          .language-button {
            padding-top: 0;
            padding-bottom: 0;
          }
          .selected-language {
            background-color: $primary-color;
            color: white;
          }
        }
        .logo-container {
          height: 1em;
          .icon-button {
            height: 1em;
            width: 1em;
          }
        }
      }
      .main-menu-logo {
        height: 32px;
        width: 32px;
        margin-left: 15px;
        transform: scale(3.5);
      }
    }
  }
  .mobile-appbar {
    color: $primary-color;
    overflow-y: hidden;
    .right-mobile-menu {
      color: $primary-color;
      @include horizontal-list;
      .menu-icon {
        margin-left: 10px;
        height: 32px;
        width: 32px;
      }
    }
  }

  .mobile-appbar:active {
    background-color: transparent;
  }

  .content-container {
    min-height: 100vh;
  }

  .footer {
    @include horizontal-list;
    background-color: black;
    justify-content: space-between;
    color: white;
    a {
      color: white;
    }
    .icon-button {
      height: 32px;
    }
    .icon-button:hover {
      background-color: rgba(255, 255, 255, 0.2);
      color: $primary-color;
    }
    .footer-link {
      text-decoration: none;
      margin: 0 1em;
    }
    .footer-link:hover {
      color: $primary-color;
    }
  }

  .preview-image-container {
    position: relative;
    color: white;
    .preview-content {
      position: absolute;
      bottom: 0;
      padding: 5px;
      .MuiTypography-caption {
        font-weight: 300;
      }
    }
    .hover-container {
      height: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;
      overflow: hidden;
      transition: 0.2s;
    }
    .non-hoverable {
      height: 100%;
    }
  }
  .preview-image-container:hover {
    .hover-container {
      height: 100%;
    }
  }

  .icon-button {
    color: inherit;
  }
  .horizontal-list {
    @include horizontal-list;
  }
}
.menu-drawer {
  .MuiPaper-root {
    min-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .navigation-item {
      padding-left: 0;
    }
    .bottom-menu-navigation {
      background-color: rgba(128, 128, 128, 0.174);
    }
    .lang-list {
      display: flex;
      flex-direction: row;
      background-color: $primary-translucid;
      align-items: center;
      .primary-color-button {
        color: $primary-color;
      }
    }
  }
}
