@import "../utils/colors.scss";
.layout {
  .MuiAppBar-colorPrimary {
    background-color: $black;
  }
  .appbar {
    transition: 0.2s;
    .toolbar {
      justify-content: space-between;
      flex-direction: row;
      .MuiListItem-padding {
        padding: 0;
      }
      .navigation-list {
        .navigation-item {
          :hover {
            color: $primary-color;
            background-color: transparent;
          }
        }
        span {
          white-space: nowrap;
          font-weight: 600;
        }
      }
      .right-menu {
        align-self: flex-end;
        .lang-list {
        }
      }
    }
  }
  .horizontal-list {
    display: flex;
    flex-direction: row;
  }
}
