@import "/src/utils/colors.scss";
@import "/src/utils/mixins.scss";

.projects {
    @include page-padding;
    .filter-section {
        @include horizontal-list;
        margin-top: 12px;
        align-items: center;
        .filter-title {
            font-size: 1.2rem;
            font-weight: 300;
            margin-right: 12px;
        }
        .filter-button {
            color: $black;
            font-weight: 600;
            font-size: 1.35rem;
        }
        .filter-button:hover {
            color: $primary-color;
        }
    }
    .projects-section {
        padding-top: 12px;
        .project-container {
            border: 10px solid $primary-color;
            .project-card {
                padding: 5px 10px;
                height: calc(100% - 10px);
                .project-description {
                    margin-top: 5px;
                    line-height: 1.1rem;
                    max-height: 4.5em;
                    overflow: hidden;
                }
                .see-more-button-container {
                    position: absolute;
                    bottom: 10px;
                    left: -5px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    .see-more-button {
                        @include white-on-primary;
                        border-radius: 0;
                    }
                    .see-more-button:hover {
                        @include primary-on-white;
                    }
                }
            }
        }
    }
}
@media (max-width: 900px) {
    .projects {
        .projects-section {
            .project-card {
                .see-more-button-container {
                    bottom: 5px !important;
                }
            }
        }
    }
}
